/* 
------------------
DASHBOARD CSS FILE 
------------------

    1 - Lateral navbar
    2 - Containers and headings
    3 - Cards

*/

/* 
// ------------------
// 1 - LATERAL NAVBAR
// ------------------
*/

.lat-nav {
    background-color: #eee;
}

@media (min-width: 768px) {
    .lat-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 70px;
        margin-top: 0;
        margin-bottom: 0;
        overflow-y: auto;
    }

    .lat-nav a {
        display: block;
    }
}

.lat-nav a {
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border-bottom: solid 1px #fff;
}

@media (max-width: 767px) {
    .lat-nav a {
        display: inline-block;
        padding: 4.5%;
    }
    
    .lat-nav > a {
        display: block;
    }
    .icon-bar {
        text-align: center;
    }
}

.lat-nav a:hover {
    text-decoration: none;
    color: #666;
}

.lat-nav > a {
    background-color: #2598C4;
    color: #eee;
    font-size: 40px;
}

.lat-nav > a:hover {
    color: #000;
}

.nav-avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.lat-nav .active {
    color: #495057;
    background-color: #fff;
}

/* 
// ---------------------------
// 2 - CONTAINERS AND HEADINGS
// ---------------------------
*/

@media (min-width: 768px) {
    .main-container {
        margin-left: 70px;
    }
    .main-container {
        padding: 50px 70px;
    }
}

@media (max-width: 767px) {
    .main-container {
        padding: 30px 20px;
    }
    .col-sm-4 {
        padding-bottom: 20px;
    }
}

.row-heading {
    padding-bottom: 25px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.subtitle {
    color: #777;
}

/* 
// ---------------------------
// 3 - CARDS
// ---------------------------
*/

/* BIO-ABOUT */

.cover-img {
    height: 150px;
    background-size: cover;
    background-image: url("../img/uploads/cover-default.png");
    background-position: center;
}

.card-about {
    text-align: center;
    padding: 15px;
    font-weight: 200;
    height: 250px;
}

.card-avatar {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.card-name {
    margin: 15px auto;
    font-weight: 600;
}

.resume-card {
    min-height: 402px;
}

.resume-card-title {
    padding: 20px;
    position: relative;
    line-height: 20px;
    text-align: center;
}

.resume-card-title:before {
    position: absolute;
    top: 45%;
    display: block;
    content: "";
    width: calc(100% - 40px);
    height: 2px;
    background-color: #eee;
}

.resume-card-title h3 {
    padding: 0 5px;
    font-size: 18px;
    position: relative;
    display: inline-block;
    font-weight: 300;
    background-color: #fff;
    z-index: 2;
}

.resume-data .col-sm-4 {
    padding: 10px 40px;
    text-align: center;
}

.resume-data .unit {
    display: inline-block;
    padding: .4em;
    font-size: 12px;
    vertical-align: middle;
}

.green {
    color: #1BC98E;
}

.red {
    color: #E64759;
}

.resume-data .caption {
    font-size: 85%;
    letter-spacing: .15em;
    color: #78838e;
    text-transform: uppercase;
}

.resume-chart {
    margin-top: 30px;
    padding: 0 50px;
}

#chart-container {
    text-align: center;
    margin: 0 auto;
}